*{
    margin: 0;
    padding: 0;
    /* border: 1px solid; */
}
/* Example styles for the Owl Carousel component */
/* .owl-carousel {
    display: flex;
    justify-content: space-between;
  } */
  
  .item1 {
    background-color: #eee;
    text-align: center;
    margin: 5px;
    
  }
  .item1 img{
    border-radius: 8px;
    height: 70vh;

  }
  .item2{
    background-color: #eee;
    border-radius: 8px;
    text-align: center;
    margin: 5px;

  }
  .item2 img{
    height: 30vh;
    border-radius: 8px;
  }
  